canvas.token=
canvas.url=
esb.url=
api.call.type=
# you can define as many terms as possible with sis_term_id and end date of the term.
term1=2050;06/24/2015
term2=
term3=
termN=
#The property tells the count of termN. As the termN property can vary.
term.count=3